* {
  font-family: arial;
  color:rgb(156, 199, 185);
  margin: 5;
  padding: 0;
  border: 5;
  box-sizing: border-box;
}
body {
  background-color: rgb(34, 31, 31);
}
h1 {
  color: rgb(96, 168, 197);
}
p {
  color: rgb(125, 230, 202);
}

header {
  min-height: 150px;
  min-width: 500px;
  text-align: center;
  background-color: rgb(44, 42, 56);
  font-size: 1.2em;
}

main {
  min-height: 500px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

footer {
  min-height: 150px;
  text-align: center;
}
aside:nth-child(1) {
  flex: 0 0 20%;
}
aside:nth-child(3) {
  flex: 0 0 20%;
}
article {
  flex: 1 0 auto;
  max-width: 60%;
  min-width: 500px;
  background-color: rgb(58, 51, 51);
  border: 50px;
  border-color: blue;
  padding: 2%;
}
.videocontainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0%;
}
.itchcontainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 22.25%;
}
.gamecontainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 77.5%;
}


/* Style all font awesome icons */
.fab, .fa{
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fab:hover, .fa:hover {
  opacity: 0.7;
}
